{% extends 'base.html.twig' %}

{% block title %}ACFSE{% endblock %}

{% block body %}
 {% include 'header.html.twig' %}
<div class="container">    
   
        <div id="loginbox" style="margin-top:100px;margin-left : 250px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >   
                <div class="alert alert-primary" role="alert">
  <strong>Hello</strong> Voici le Profil du membre  {{user.username}}
  </button>
</div>

<div class="fos_user_user_show">
    <p>Nom du Membre: {{ user.username }}</p>
    <p>Email Du Membre: {{ user.email }}</p>
    <p>Date de D'adhesion du Membre: {{ user.created |date() }}</p>
</div>
<div>
  <a href="javascript:history.go(-1)"<button  class="btn btn-danger">{{ button_label|default('retour') }}</button>   </a>
</div>

{% include 'footer.html.twig' %}
        

{% endblock %}