{% extends 'base.html.twig' %}

{% block title %}Reunion index{% endblock %}

{% block body %}
    <h1>Reunion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reunion in reunions %}
            <tr>
                <td>{{ reunion.id }}</td>
                <td>{{ reunion.titre }}</td>
                <td>{{ reunion.contenu }}</td>
                <td>
                    <a href="{{ path('reunion_show', {'id': reunion.id}) }}">show</a>
                    <a href="{{ path('reunion_edit', {'id': reunion.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('reunion_new') }}">Create new</a>
{% endblock %}
