{% extends 'base.html.twig' %}

{% block body %}
 {% include 'header.html.twig' %}

    <table class="table exemple">
        <thead>
            <tr>
                <th>Date de la reunion</th>
                <th>Membres Presents</th>
                <th>Contenu</th>
             <th>Membres Absents</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reunion in reunions %}
            <tr>
                <td >{{ reunion.created|date('Y-m-d') }}</td>
                <td>{{ reunion.membrepresent }}</td>
                <td>{{ reunion.contenu }}</td>
                <td>{{ reunion.membreabsent }}</td>
                <td>
                    <a href="{{ path('reunion_show', {'id': reunion.id}) }}"><input type="button" class="btn btn-primary" value="affiché CR"/></a>
                </td>
            </tr>
        {% else %}
            <tr>
            
                <td colspan="4">Il n'ya pas de Compte rendu Enregistré</td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
             <a href="{{path('reunion_interface')}}"><input type="button" class="btn btn-primary" value="Retour"/></a>
        {% include 'footer.html.twig' %}

{% endblock %}

                        