{% trans_default_domain 'FOSUserBundle' %}


 {% if newmdp is defined %}
<div class="container">    
   
        <div id="loginbox" style="margin-top:100px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >   
                <div class="alert alert-primary" role="alert">
  <strong>Hello</strong> Votre mot de Passe a bien été réinitialisé, veuillez-vous connecter
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div style="margin-left:80px">
 <a href="{{ path('index') }}"<button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ button_label|default('connexion') }}</button></a>
  <a href="{{ path('index') }}"<button  class="btn btn-danger">{{ button_label|default('retour à la page d\'acceuil') }}</button>   </a>
  
        </div>
{% else %}

<div class="container">    
   
        <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
            <div class="panel panel-info" >   
{% if error %}
       

                <div class="alert alert-danger" role="alert">
  <strong>Attention :</strong> Login ou mot de passe incorrect, veuillez réessayer
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}



   <div class="panel-heading">
                    
                        <div class="panel-title">Connectez-Vous</div>
                    </div>     

                    <div style="padding-top:30px" class="panel-body" >

                        <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
        
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>                                        
                                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Login"/>                                    
                                    </div>
                                
                            <div style="margin-bottom: 25px" class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-eye-close"></i></span>
                                     <input class="form-control"  type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Mot de passe" />
                                    
                                    </div>               
   

                                      <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck remember_me"  name="_remember_me" value="on">
      <label class="form-check-label" for="invalidCheck" style="margin-left:20px">
        Se rappellez de moi 
      </label>
    </div>
  </div>

                          <div class="card-footer">
				<div class="d-flex justify-content-center links">
					Pas de compte utilisateur ?<a href="{{path('fos_user_registration_register')}}">Creer un compte ici</a>
				</div>
				<div class="d-flex justify-content-center">
					<a href="{{path('fos_user_resetting_request')}}">Mot de Passe Oubliez ? </a>
				</div>
			</div>
    <button type="submit" id="_submit" name="_submit" class="btn btn-primary">{{ button_label|default('connexion') }}</button>
  <a href="{{ path('index') }}"<button  class="btn btn-danger">{{ button_label|default('retour à la page d\'acceuil') }}</button>   </a>
</form>

            </div>  
        </div>
        <div id="signupbox" style="display:none; margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="#" onclick="$('#signupbox').hide(); $('#loginbox').show()">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            
                         </div>
                    </div>           
               
                
         </div> 
    </div>

  {% endif %}
                    
                    
